/* Image Background Set up */
body {
    background-image: url("../images/paper-balls.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Form background */
form {
    background-color: rgba(55, 56, 128, 0.205);
    padding: 10px;
    border-radius: 20px;
}

.card-body {
    background-color: #FFFFFF90 !important;
    border-radius: 20px;
    padding: 10px;
    border: none;
}

input {
    border-radius: 20px !important;
    border: none !important;
}

.form-control{
    border-radius: 20px !important;
    border: none !important;
}

.form-select{
    border-radius: 20px !important;
    border: none !important;
}

/* formating ALL buttons */
.btn {
    border-radius: 20px !important;
    border-color: none;
    font-weight: bold;
    font-family: cambria;
}



/* Task list text */
h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:inherit;
    font-stretch: extra-expanded !important;
    font-weight:bold !important;
    color: #2d36acc5;   

}

label{
    font-weight: bolder;
    color: #2d36acc5 ;
}

/*Display Cards */

/*.fa-trash {
    color: red;
    font-size:larger
}

.btn-trash:hover {
    border: 1px solid red;
}*/

.cardstyle{
    background-color: rgba(55, 56, 128, 0.205)!important;
    border-radius: 20px;
    padding: 10px;
    border: none;
}

/*Display cards labels */
.card-title{
    /* font-family:cursive; */
    font-weight:bold; 
    color:#2d36acc5;
}
h6{
    font-weight:bold;
    color: #2d36acc5 ;
}
.strong{
    /*font-family:initial;*/
    color: rgba(20, 20, 20, 0.787);
}

.list-group{
    border-radius: 20px;
    padding: 10px;
    border:none;
    
}